<!--
  ©️ Dan Gazizullin, 2021-2023
  This file is a part of Hikka Userbot
  🌐 https://github.com/hikariatama/Hikka
  You can redistribute it and/or modify it under the terms of the GNU AGPLv3
  🔑 https://www.gnu.org/licenses/agpl-3.0.html
-->

{% extends "base.jinja2" %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js"></script>
<script src="{{ static("sakura.min.js") }}"></script>
<script src="//unpkg.com/@dotlottie/player-component@1.0.0/dist/dotlottie-player.js"></script>
<script src="//unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>

<link href="{{ static("sakura.min.css") }}" rel="stylesheet">
<link href="https://css.gg/css?=arrow-right-r|add|brackets|chevron-right-o|smartphone" rel="stylesheet">

<link rel="stylesheet" href="{{ static("base.min.css") }}">
{% endblock %}

{% block content %}
{% endblock %}

{% block after %}
<div class="bg">
  <div class="bg_inner"></div>
</div>
<div class="blur auth vert_center">
  <div id="tg_icon"></div>
  <div class="waiting_for_auth">Waiting for authentication...</div>
  <div class="confirm_auth">Please, confirm action in <span style="color:#28a0dc">Telegram</span></div>
</div>
<div class="auth-code-form blur">
  <div id="monkey"></div>
  <div id="monkey-close"></div>
  <span class="code-caption">Enter the code you received from Telegram</span>
  <input type="text" class="code-input" autocomplete="off">
  <div class="enter">Enter</div>
</div>

<!-- Новый способ ввода -->
<script>
  const MOVE_EVE = ({ x, y }) => {
      if (reset) reset.kill();
      
      reset = gsap.delayedCall(2, () => {
          gsap.to('.eye', { xPercent: 0, yPercent: 0, duration: 0.2 });
      });

      const BOUNDS = EYE.getBoundingClientRect();

      gsap.set('.eye', {
          xPercent: gsap.utils.clamp(-30, 30, posMapper(BOUNDS.x - x)),
          yPercent: gsap.utils.clamp(-30, 30, posMapper(BOUNDS.y - y))
      });
  };
</script>

<div class="wrapper">
  <div class="blur main finish_block">
    <div id="installation_icon"></div>
    <div class="title">Heroku is installed</div>
    <div class="description">
      Heroku is installed. You can close this page now.
      <br>
      <b>It might take a while for installation to fully complete. Please, be patient.</b>
      <br>
      <b>Heroku will restart and might send several configuration messages to complete the installation!</b>
      <br>
      <span style="font-size: 24px;">Check <span style="color:#28a0dc">Telegram</span> for a message from your <b>inline bot</b></span>
    </div>
  </div>
</div>

<div class="lights">
  <div class="light x1"></div>
  <div class="light x2"></div>
  <div class="light x3"></div>
  <div class="light x4"></div>
  <div class="light x5"></div>
  <div class="light x6"></div>
  <div class="light x7"></div>
  <div class="light x8"></div>
  <div class="light x9"></div>
</div>

<script>
  var skip_creds = "{{ skip_creds }}" == "True";
  var auth_required = true;
  fetch("/check_session", {
    method: "POST",
    credentials: "include"
  })
    .then(response => response.text())
    .then((response) => {
      auth_required = response != "1";
    })
</script>
<script src="{{ static("root.min.js") }}"></script>
{% endblock %}
